.flex-container {
  display: flex; 
  flex-direction: column;
    gap: 8px;
} 
.flex-container-nested {
  display: flex; 
  flex-direction: row-reverse;
  overflow: scroll;
  flex: 1;
  justify-content: space-around;
} 

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  /* flex: 1; */
}
.flex-container div.one{
    background-color: lightcoral;
    border: 4px solid red;
    height: 100px;
    flex: 1;
    flex-basis: auto;
}
.flex-container div.two{
    background-color: lightgreen;
    border: 4px solid green;
    height: 100px;
    flex: 1;
    flex-basis: auto;

}
.flex-container div.three{
    background-color: lightblue;
    border: 4px solid blue;
    height: 100px;
    flex: 1;
    flex-basis: auto;
 
}
div.one .nested{
    
    background-color: red;
    border: solid white;
    height: 100px;
    width: 50px;
    align-items: space-around;
    
}